table {
    //font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #CCCCCC;
  }

ul li {
  display: inline;
  padding-left: 8%;
}

.textpaddings {
  padding-left: 20px!important;
}