<ion-header>
  <ion-toolbar color="danger">
    <ion-title *ngFor="let hotel of hotelDetails">{{hotel.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!Userservice.loggedInUser" style="font-size: xx-large;
  padding-left: 34%;">
    <ion-text style="font-size: large;" color="danger">
      You are not Signin
      <a href="http://localhost:8100/hotels">Click here</a>
    </ion-text>
  </div>
  <div *ngIf="this.Userservice.loggedInUser">
    <ion-card>
      <ion-card-content>
        <ion-grid *ngFor="let hotel of hotelDetails">
          <ion-row>
            <ion-col size-md="6.5" style="width: 100%; justify-content: center;">
              <img [src]="hotel.images">
            </ion-col>

            <ion-col size-md="3" style="padding: 10px;">
              <ion-label>
                <b>Room</b>&nbsp;
                <ion-label style="font-size: x-small;" color="primary">(Per night)
                </ion-label>
              </ion-label>
              <br>
              <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>&nbsp;
              <ion-text color="success">Free cancellation</ion-text><br>
              <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>&nbsp;
              <ion-text color="success">Breakfast</ion-text><br><br>
              <ion-text>Oher rooms</ion-text>
            </ion-col>
            <ion-col size-md="2" style="padding: 10px;">
              <ion-label style="font-size: smaller;" color="danger"> <s>(INR 5,000)</s>&nbsp;<br>
                <ion-label>INR 4,170</ion-label>
              </ion-label><br>
              <ion-label color="success">Deal Applied
                <ion-label color="success">Saving INR 830</ion-label>
              </ion-label><br>
              <ion-button fill="clear" (click)="moveToShoppingCart(hotel.id,hotel.name,hotel.price,hotel.images)">
                <ion-text>Book this now</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>


    <ion-grid *ngFor="let hotel of hotelDetails" style="margin: 10px;">
      <ion-text color="success">
        {{hotel.name}}
      </ion-text><br><br>

      <ion-row style="border: 2px solid lightpink; font-size: 12px; padding: 15px;">
        <ion-col size-md="3">
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>&nbsp;
          <ion-label>MySafety - Safe and Hygienic Stays
            This property is following safety & hygiene measures</ion-label>
        </ion-col>
        <ion-col size-md="9">&nbsp;
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>&nbsp;
          <ion-label>Sanitized Environment</ion-label>&nbsp;
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>&nbsp;
          <ion-label>Trained Staff</ion-label>&nbsp;
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>&nbsp;
          <ion-label>Safe Practices</ion-label>&nbsp;
          <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>&nbsp;
          <ion-label>Safe Dining</ion-label>&nbsp;&nbsp;
          <ion-button fill="clear" [routerLink]="['/usersafety']">Learn More</ion-button>
        </ion-col>
      </ion-row><br><br>

      <ion-text>
        <b>
          About The Hotel
        </b>
      </ion-text><br><br>
      <ion-text color="primary">
        CHECK IN 2 PM && CHECK OUT 12 PM
      </ion-text>
    </ion-grid>

    <ion-card>
      <ion-card-content>
        <div>
          <table>
            <tr>
              <th>ROOM TYPE</th>
              <th>OPTIONS</th>
              <th>INCLUDED IN THIS PRICE</th>
              <th>PRICE</th>
            </tr>
            <tr>
              <td rowspan="2">
                <ion-text><b>Winter Green Room </b></ion-text><br><br>
                <ion-text><img src="https://cdn.pixabay.com/photo/2016/11/18/17/20/couch-1835923__340.jpg"
                    height="150px;" width="350px;"></ion-text>
                <ul>
                  <li>
                    Room Size: 300 sq.ft.
                  </li>
                  <li>
                    Bed Type: Double Bed
                  </li>
                  <li>
                    View: Garden View
                  </li>
                  <li>
                    Air Conditioning
                  </li>
                  <li>
                    Free Wi-Fi
                  </li>
                  <li>
                    Electric Kettle
                  </li>
                </ul>
              </td>
              <td>
                <ion-text> OPTION 1 </ion-text>
                <ion-text color="danger">RECOMMENDED</ion-text><br><br>
                <ion-icon size="large" name="fast-food-outline"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-text
                  color="secondary">
                  Breakfast</ion-text><br><br>
                <ion-icon size="large" name="cash"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-text color="danger">Non-refundable
                </ion-text><br>
                <ion-text color="primary">Read more</ion-text>
              </td>
              <td>
                <ion-icon name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;<ion-text>Free Breakfast</ion-text>
              </td>
              <td>
                <s>INR 5,000</s><br><br>
                <b>INR 4,170</b>&nbsp;
                <ion-text color="medium">(Per night)</ion-text><br><br>
                <ion-button color="primary">SELECT ROOM</ion-button>
              </td>
            </tr>
            <tr>
              <td>
                <ion-text> OPTION 2 </ion-text><br><br>
                <ion-icon size="large" name="fast-food-outline"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-text
                  color="secondary">
                  2 meals - Breakfast & Lunch or Dinner</ion-text><br><br>
                <ion-icon size="large" name="cash"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-text color="danger">Non-refundable
                </ion-text><br>
                <ion-text color="primary">Read more</ion-text>
              </td>
              <td>
                <ion-icon name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;<ion-text>Free Breakfast</ion-text>
                <br><br>
                <ion-icon name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;<ion-text>Free Lunch Or Dinner
                </ion-text>
              </td>
              <td>
                <s>INR 5,000</s><br><br>
                <b>INR 4,170</b>&nbsp;
                <ion-text color="medium">(Per night)</ion-text><br><br>
                <ion-button color="primary">SELECT ROOM</ion-button>
              </td>
            </tr>

            <tr>
              <td rowspan="2">
                <ion-text><b>Green Room</b></ion-text><br><br>
                <ion-text><img src="https://cdn.pixabay.com/photo/2017/03/22/17/39/kitchen-2165756__340.jpg"
                    height="150px;" width="350px;"></ion-text>
                <ul>
                  <li>
                    Room Size: 225 sq.ft.
                  </li>
                  <li>
                    Bed Type: Double Bed
                  </li>
                  <li>
                    View: Garden View
                  </li>
                  <li>
                    Air Conditioning
                  </li>
                  <li>
                    Free Wi-Fi
                  </li>
                  <li>
                    Electric Kettle
                  </li>
                </ul>
              </td>
              <td>
                <ion-text> OPTION 1 </ion-text>
                <ion-text color="danger">RECOMMENDED</ion-text><br><br>
                <ion-icon size="large" name="fast-food-outline"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-text
                  color="secondary">
                  Breakfast</ion-text><br><br>
                <ion-icon size="large" name="cash"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-text color="danger">Non-refundable
                </ion-text><br>
                <ion-text color="primary">Read more</ion-text>
              </td>
              <td>
                <ion-icon name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;<ion-text>Free Breakfast</ion-text>
              </td>
              <td>
                <s>INR 5,000</s><br><br>
                <b>INR 4,170</b>&nbsp;
                <ion-text color="medium">(Per night)</ion-text><br><br>
                <ion-button color="primary">SELECT ROOM</ion-button>
              </td>
            </tr>
            <tr>
              <td>
                <ion-text> OPTION 2 </ion-text><br><br>
                <ion-icon size="large" name="fast-food-outline"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-text
                  color="secondary">
                  2 meals - Breakfast & Lunch or Dinner</ion-text><br><br>
                <ion-icon size="large" name="cash"></ion-icon>&nbsp;&nbsp;&nbsp;<ion-text color="danger">Non-refundable
                </ion-text><br>
                <ion-text color="primary">Read more</ion-text>
              </td>
              <td>
                <ion-icon name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;<ion-text>Free Breakfast</ion-text>
                <br><br>
                <ion-icon name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;<ion-text>Free Lunch Or Dinner
                </ion-text>
              </td>
              <td>
                <s>INR 5,500</s><br><br>
                <b>INR 4,170</b>&nbsp;
                <ion-text color="medium">(Per night)</ion-text><br><br>
                <ion-button color="primary">SELECT ROOM</ion-button>
              </td>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-text><b>Facilities</b></ion-text><br><br>

    <ul style="list-style-type: none; border: 2px solid lightpink; padding: 15px;">
      <li>
        <ion-icon color="primary" size="large" name="wifi"></ion-icon> &nbsp;&nbsp;
        <ion-text>Free Wi-Fi</ion-text>
      </li>
      <li>
        <ion-icon color="primary" size="large" name="water"></ion-icon> &nbsp;&nbsp;
        <ion-text>Swimming Pool</ion-text>
      </li>
      <li>
        <ion-icon color="primary" size="large" name="flag"></ion-icon> &nbsp;&nbsp;
        <ion-text>Free Parking</ion-text>
      </li>
      <li>
        <ion-icon color="primary" size="large" name="restaurant"></ion-icon> &nbsp;&nbsp;
        <ion-text>Restaurant</ion-text>
      </li>
    </ul>

    <ion-card>
      <ion-card-content>
        <ion-text><b>BASIC FACILITIES</b></ion-text><br><br>
        <ion-icon name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;
        <ion-text>Room Service (Limited duration)</ion-text>
        <ion-icon class="textpaddings" name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;
        <ion-text>Power Backup</ion-text>
        <ion-icon class="textpaddings" name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;
        <ion-text>Elevator Lift</ion-text>
        <ion-icon class="textpaddings" name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;
        <ion-text>Air Conditioning (Room controlled)</ion-text>
        <ion-icon class="textpaddings" name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;
        <ion-text>Intercom</ion-text>
        <ion-icon class="textpaddings" name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;
        <ion-text>Housekeeping</ion-text>
        <ion-icon class="textpaddings" name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;
        <ion-text>Public Restrooms</ion-text>
        <ion-icon class="textpaddings" name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;
        <ion-text>Smoke Detector (In Room,Lobby)</ion-text>
        <ion-icon class="textpaddings" name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;
        <ion-text>Laundry Service (Paid)</ion-text>
        <ion-icon class="textpaddings" name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;
        <ion-text>Newspaper (English)</ion-text>
        <ion-icon class="textpaddings" name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;
        <ion-text>Attached Bathroom</ion-text>
        <ion-icon class="textpaddings" name="checkmark" color="primary"></ion-icon>&nbsp;&nbsp;
        <ion-text>Ironing Service (Free)</ion-text>
      </ion-card-content>
    </ion-card><br><br>

    <ion-text>Ratings ...</ion-text>
  </div>
</ion-content>