<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Select dates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-calendar 
    [(ngModel)]="date" 
  
    [type]="type" 
    [format]="'YYYY-MM-DD'"
    (onChange)="onChange($event)"
    >
    </ion-calendar>
</ion-content>