<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Safety</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text>
        Our hotel partners have self-certified to follow a series of precautionary measures to make your hotel stay safe
        and healthy. All hotels listed under MySafety-Safe and Hygienic Stays meet our comprehensive safety checklist.
      </ion-text> <br><br>
      <ion-text>
        <b>
          Sanitized Environment
        </b>
      </ion-text>
      <ion-text>
        <ul>
          <li>
            All rooms & washrooms to be thoroughly disinfected before each check-in, with special emphasis on
            high-frequency touch points.
          </li>
          <li>
            Freshly-prepared bleach solution (1% sodium hypochlorite) or phenolic disinfectants to be used to clean
            furniture, washbasins, and toilets.
          </li>
          <li>
            Room linen to be changed once in two days or ONLY on request.
          </li>
          <li>
            Sanitization of common areas (reception, elevator, lounge) to be done every 6 hours with phenolic
            disinfectant.
          </li>
          <li>
            Sanitisers to be provided for guests in all common areas.
          </li>
          <li>
            Face masks and gloves to be made available to guests on request.
          </li>
        </ul>
      </ion-text>
      <br>

      <ion-text>
        <b>
          Trained Staff
        </b>
      </ion-text>
      <ion-text>
        <ul>
          <li>
            All staff to observe social distancing rules at all times – at the entrance, at the reception, inside
            elevators etc.
          </li>

          <li>
            Restaurant, house-keeping and service staff to wear masks (3-ply or N95) and gloves at all times.
          </li>

          <li>
            Routine temperature check to be done twice a day with mandatory leave for anyone with temperature above
            99.1℉.
          </li>

          <li>
            Regular staff training to be initiated for maintaining social distancing norms, hand hygiene and respiratory
            etiquette.
          </li>

        </ul>
      </ion-text>
      <br>

      <ion-text>
        <b>
          Safe Practices
        </b>
      </ion-text>
      <ion-text>
        <ul>
          <li>
            Guests’ recent travel history records to be maintained, in accordance with local and central government
            guidelines.
          </li>

          <li>
            Mandatory temperature check to be done for all guests, at the time of entry. Anyone with temperature above
            99.1℉ will be politely redirected to the closest medical facility.
          </li>

          <li>
            Common places like swimming pool and gym to be made inaccessible as per government guidelines.
          </li>

        </ul>
      </ion-text>
      <br>


      <ion-text>
        <b>
          Safe Dining
        </b>
      </ion-text>
      <ion-text>
        <ul>
          <li>
            All dining table set-up and seating arrangements to be made as per social distancing rules.
          </li>

          <li>
            WHO or government approved sanitising agents to be used to clean raw food material and kitchen supplies.
          </li>

          <li>
            All kitchen staff to wear hair net and face masks at all times.
          </li>

        </ul>
      </ion-text>
      <br>


      <ion-text>
        <b>
          Free Cancellation, Zero Payment Now
        </b>
      </ion-text>
      <ion-text>
        <ul>
          <li>
            In case you have a change of plans, we have you covered with our Free Cancellation, Zero Payment Now option
            wherein you can cancel anytime and get 100% refund.
          </li>

        </ul>
      </ion-text>



    </ion-card-content>
  </ion-card>
</ion-content>