<ion-header *ngIf="Userservice.loggedInUser">
  <ion-toolbar color="primary">
    <ion-title *ngFor="let user of Userservice.loggedInUser">Welcome {{user.user_name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="['/hotels']"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light" menu="rightMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="padding: 10px;" *ngIf="Userservice.loggedInUser">
    <ion-card-title>Profile</ion-card-title>
    <ion-card-header>Basic info, for a faster booking experience</ion-card-header>
    <ion-card-content>
      <form [formGroup]="editProfile">
        <ion-item>
          <ion-label position="stacked">User name</ion-label>
          <ion-input type="text" formControlName="user_name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Emailid</ion-label>
          <ion-input type="text" formControlName="email_id" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="text" formControlName="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Gender</ion-label>
          <ion-select type="text" formControlName="gender" okText="Okay" cancelText="Dismiss" required>
            <ion-select-option *ngFor="let category of categories">
              {{category.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Birthday</ion-label>
          <ion-input type="text" formControlName="birthday" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Marital Status</ion-label>
          <ion-select type="text" formControlName="marital" okText="Okay" cancelText="Dismiss" required>
            <ion-select-option *ngFor="let Marital of MaritalStatus">
              {{Marital.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Mobile number</ion-label>
          <ion-input type="text" formControlName="mobile_number" required></ion-input>
        </ion-item>
        <ion-button (click)="save(editProfile)">Save</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>