<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size-md="11">
            <ion-text>Buses</ion-text>
          </ion-col>
          <ion-col size-md="1">
            <ion-buttons>
              <ion-menu-button style="width: auto;height: 30px;" color="light" menu="rightMenu"></ion-menu-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
    <ion-searchbar [(ngModel)]="boardingRoute" (ionChange)="setFilteredItems()" showCancelButton="focus"
      cancelButtonText="Custom Cancel" animated=true
      placeholder="Bus name,Bus boarding/starting point example = 'Peeragerhi'"></ion-searchbar>
    <ion-searchbar [(ngModel)]="destinationRoute" (ionChange)="setFilteredItems()" showCancelButton="focus"
      cancelButtonText="Custom Cancel" animated=true placeholder="Bus name,Bus destination point example = 'Mundka'">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngFor="let buses of items" (click)="Workinprogress()" style="cursor: pointer;">
    <ion-card><br>
      <ion-row style="padding-left: 6px;">
        <ion-col size-sm="3" size-md="3" size-lg="3" size-xl="3">
          <img src={{buses.images}} style="Width: 960px;">
        </ion-col>
        <ion-col size-sm="7" size-md="7" size-lg="7" size-xl="8">
          <ion-text color="danger">{{buses.name}}</ion-text><br><br>
          <ion-text color="success">Rating{{buses.rating}}</ion-text><br><br>
          <ion-text color="medium">Facilites : {{buses.facilites}}</ion-text>
        </ion-col>
        <ion-col size-sm="2" size-md="2" size-lg="2" size-xl="1">
          <ion-text color="secondary"> Price : {{buses.fair}} </ion-text><br><br>
          <ion-text color="medium">Total seat : {{buses.bus_seat}}</ion-text>
        </ion-col>
      </ion-row><br>
    </ion-card>
  </ion-grid>
</ion-content>