<ion-header>
  <ion-toolbar color="danger">
    <ion-title *ngFor="let bus of busDetails">{{bus.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-content>
        <ion-grid *ngFor="let bus of busDetails">
          <ion-row>
            <ion-col size-md="6">
              <img [src]="bus.images" style="height: 243px; width: 400px;">
            </ion-col>
            <ion-col size-md="6" style="padding-left: 10px;">
              <ion-text>Boarding to Dropping : {{bus.bus_boarding_point}} to {{bus.bus_dropping_point}}</ion-text>
              <br><br>
              <ion-text>Timing : {{bus.bus_timing}}</ion-text><br><br>
              <ion-text>Route : {{bus.bus_route}} from {{bus.bus_boarding_point}} to {{bus.bus_dropping_point}}
              </ion-text><br><br>
              <ion-text>Fair : {{bus.fair}}</ion-text><br><br>
              <ion-text>Rating : {{bus.rating}}</ion-text><br><br>
              <ion-text>Facilites : {{bus.facilites}}</ion-text>
              <ion-button  *ngFor="let buttonText of buttonsTexts; let i = index;" (click)="seatSelected(i)">{{buttonText}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row>
        <div style="border: 2px solid black;">
          <!-- <ion-col size-md="2">
            <ion-icon name="car"></ion-icon>
          </ion-col> -->
          <ion-col size-md="12">
            <ion-button  *ngFor="let buttonText of buttonsTexts; let i = index;" (click)="seatSelected(i)">{{buttonText}}</ion-button>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>
    <div class="plane">
      <div class="cockpit">
        <h1>Please select a seat</h1>
      </div>
      <div class="exit exit--front fuselage">
        
      </div>
      <ol class="cabin fuselage">
        <li class="row row--1">
          <ol class="seats" type="A">
            <li class="seat">
              <input type="checkbox" id="1A" />
              <label (click)="selectedSeat('1A')"> 1A </label>
            </li>
            <li class="seat">
              <input type="checkbox" id="1B" />
              <label for="1B">1B</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="1C" />
              <label for="1C">1C</label>
            </li>
            <li class="seat">
              <input type="checkbox" disabled id="1D" />
              <label for="1D">Occupied</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="1E" />
              <label for="1E">1E</label>
            </li>
            <li class="seat">
              <input type="checkbox" id="1F" />
              <label for="1F">1F</label>
            </li>
          </ol>
        </li>
        </ol>
        </div>
      
  </div>
</ion-content>