<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size-md="2" size-lg="2"></ion-col>
          <ion-col size-md="11.5" size-lg="11.5">
            <ion-text style="padding-left: 10px;">Shopping cart</ion-text>
          </ion-col>
          <ion-col size-md="0.5" size-lg="0.5">
            <ion-buttons>
              <ion-menu-button color="light" menu="rightMenu"></ion-menu-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" showCancelButton="focus"
      cancelButtonText="Custom Cancel" animated=true placeholder="Name"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="success">
      <div class="ion-text-start" *ngIf="Shoppingservice.grandTotal != 0">
        Grand total = {{Shoppingservice.grandTotal}}
      </div>
    </ion-card-header>
  </ion-card>
  <ion-grid *ngFor="let hotel of Shoppingservice.hotelDetails">
    <ion-text *ngIf="Shoppingservice.grandTotal == 0" style="font-size: xx-large;
    padding-left: 34%;">
      Your cart is empty
    </ion-text>
    <ion-card style="padding: 10px;" *ngIf="Shoppingservice.hotelDetails.length > 1 && hotel.name !=''">
      <ion-row style="padding-left: 6px;">
        <ion-col size-xs="4" size-md="3" size-xl="4" style="cursor: pointer; width: 100%;">
          <img src={{hotel.images}}>
        </ion-col>
        <ion-col size-xs="6" size-md="9" size-xl="8" style="cursor: pointer;">
          <div class="ion-text-end">
            <b>
              {{hotel.name}}
            </b><br><br>
            <ion-text color="success">
              &#8377; {{hotel.price}}
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>