<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size-md="1.3" size-lg="1.3" style="padding-top: 20px;">
            <ion-text>Trippe</ion-text>
          </ion-col>
          <ion-col size-md="7.5" size-lg="7.5">
            <ul style="cursor: pointer;">
              <li (click)="flights()">
                <ion-icon size="large" name="airplane-outline" style="padding-left: 18%;"> </ion-icon>                 
              <ion-text style="font-size: 12px;line-height: 12px;">Flights</ion-text>  
              </li>
              <li (click)="hotels()">
                <ion-icon size="large" name="bed-outline"></ion-icon>
                <ion-text style="font-size: 12px;line-height: 12px;" >Hotels</ion-text>
              </li>
              <li (click)="villas()">
                <ion-icon size="large" name="home-outline"></ion-icon>
                <ion-text style="font-size: 12px;line-height: 12px;" >Villas & Apts</ion-text>
              </li>
              <li (click)="Workinprogress()">
                <ion-icon size="large" name="images-outline"></ion-icon>
                <ion-text style="font-size: 12px;line-height: 12px;" >Holidays</ion-text>
              </li>
              <li  [routerLink]="['/buses-cabs-trains']">
                <ion-icon size="large" name="business"></ion-icon>
                <ion-text style="font-size: 12px;line-height: 12px;">Buses
                </ion-text>
              </li>
              <li  [routerLink]="['/shopping-cart']" *ngIf="Userservice.loggedInUser">
                <ion-icon size="large" name="cart"></ion-icon>
                <ion-text style="font-size: 12px;line-height: 12px;">Cart
                </ion-text>
              </li>
            </ul>
          </ion-col>
          <ion-col size-md="2.7" size-lg="2.7" style="padding-top: 15px;">
            <ion-text style="cursor: pointer;" *ngIf="!Userservice.loggedInUser" (click)="SignupSignin()">Sign Up or
              Sign In</ion-text>
            <ion-text *ngIf="Userservice.loggedInUser">Hi, Welcome</ion-text>
          </ion-col>
          <ion-col size-md="0.5" size-lg="0.5">
            <ion-buttons>
              <ion-menu-button color="light" menu="rightMenu"></ion-menu-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" showCancelButton="focus"
      cancelButtonText="Custom Cancel" animated=true placeholder="Name,City,Country,Address"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-grid *ngFor="let hotels of items" [routerLink]="['/hotel-details',hotels.id]" style="cursor: pointer;">
    <ion-card [hidden]="Displayvillas == true"><br>
      <ion-item>
        <ion-row>
          <ion-col size-sm="3" size-md="3" size-lg="3" size-xl="3">
            <img src={{hotels.images}} style="Width: 960px;">
          </ion-col>
          <ion-col size-sm="7" size-md="7" size-lg="7" size-xl="8">
            <ion-text color="danger">{{hotels.name}}</ion-text><br><br>
            <ion-text color="success">Rating{{hotels.rating}}</ion-text><br><br>
            <ion-text>{{hotels.city}}</ion-text><br><br>
            <ion-text>{{hotels.facility}}</ion-text>
          </ion-col>
          <ion-col size-sm="2" size-md="2" size-lg="2" size-xl="1">
            <ion-text color="secondary"> Price : {{hotels.price}} </ion-text>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>

    <ion-card [hidden]="Displayhotel == true"><br>
      <ion-item>
        <ion-row>
          <ion-col size-sm="3" size-md="3" size-lg="3" size-xl="3">
            <img src={{hotels.images}} style="Width: 960px;">
          </ion-col>
          <ion-col size-sm="7" size-md="7" size-lg="7" size-xl="8">
            <ion-text color="danger">{{hotels.name}} </ion-text><br><br>
            <ion-text color="success">Rating{{hotels.rating}}</ion-text><br><br>
            <ion-text>{{hotels.city}}</ion-text><br><br>
            <ion-text>{{hotels.facility}}</ion-text>
          </ion-col>
          <ion-col size-sm="2" size-md="2" size-lg="2" size-xl="1">
            <ion-text color="secondary"> Price : {{hotels.price}} </ion-text>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>
  </ion-grid>
</ion-content>