ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: inherit;
    padding-left: 7%;
  }

  .borderRadius {
    border-radius: 25px;
  }