<ion-menu side="end" type="push" contentId="main" menuId="rightMenu">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button color="light" menu="rightMenu">
          <ion-icon name="close"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Right menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list style="cursor: pointer;">
      <ion-item [routerLink]="['hotels']">
        <ion-icon color="danger" name="home-outline"></ion-icon>&nbsp;&nbsp;Home
      </ion-item>
      <ion-item [routerLink]="['add-item/add']" *ngIf="Userservice.loggedInUser">
        <ion-icon color="danger" name="add-outline"></ion-icon>&nbsp;&nbsp; Add
      </ion-item>
      <ion-item [routerLink]="['add-item/edit']" *ngIf="Userservice.loggedInUser">
        <ion-icon color="danger" name="create-outline"></ion-icon>
        &nbsp;&nbsp;Edit
      </ion-item>
      <ion-item [routerLink]="['user-profile']" *ngIf="Userservice.loggedInUser">
        <ion-icon color="danger" name="person-outline"></ion-icon>
        &nbsp;&nbsp;User Profile
      </ion-item>
      <ion-item (click)="Workinprogress()" *ngIf="Userservice.loggedInUser">
        <ion-icon color="danger" name="log-out-outline"></ion-icon>&nbsp;&nbsp;Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<!-- <ion-app>

  <ion-router-outlet></ion-router-outlet>
</ion-app> -->