<ion-header>
  <ion-toolbar color="danger">
    <ion-title>{{Login == true ? "Signin" : "Signup"}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="onDismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="Login == true">
    <form #loginForm="ngForm">
      <ion-item>
        <ion-label position="floating">Email id</ion-label>
        <ion-input name="emailId" #emailId="ngModel" [(ngModel)]="Userlogin.emailId" email required></ion-input>
      </ion-item>
      <ion-text style="padding-left: 18px;" color="danger" *ngIf="!emailId.valid && emailId.touched">Email id is
        required</ion-text>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="password" #passwords="ngModel" [(ngModel)]="Userlogin.password" 
          required>
        </ion-input>
      </ion-item>
      <ion-text style="padding-left: 18px;" color="danger" *ngIf="!passwords.valid && passwords.touched">Password is
        required</ion-text>

      <ion-button [disabled]="!loginForm.valid" (click)="signup(loginForm)" expand="block">Continue</ion-button>
      <ion-button type="reset" *ngIf="emailId.valid || passwords.valid" expand="block">Reset</ion-button>

      <ion-button expand="block" (click)="submit()">Signin</ion-button>
    </form>
  </div>
  <div *ngIf="Login == false">
    <form #Form="ngForm">
      <ion-item>
        <ion-label position="floating">User Name</ion-label>
        <ion-input name="userName" #userName="ngModel" [(ngModel)]="User.userName"></ion-input>
      </ion-item>
      <ion-text color="danger" style="padding-left: 18px;" *ngIf="!userName.value && userName.touched">User name is
        required</ion-text>

      <ion-item>
        <ion-label position="floating">Email id</ion-label>
        <ion-input name="emailId" #emailId="ngModel" [(ngModel)]="User.emailId" email required></ion-input>
      </ion-item>
      <ion-text style="padding-left: 18px;" color="danger" *ngIf="!emailId.valid && emailId.touched">Email id is
        required</ion-text>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="passwords" #passwords="ngModel" [(ngModel)]="User.password" required>
        </ion-input>
      </ion-item>
      <ion-text style="padding-left: 18px;" color="danger" *ngIf="!passwords.valid && passwords.touched">Password is
        required</ion-text>

      <ion-button [disabled]="!Form.valid" (click)="signin(Form)" expand="block">Create Account</ion-button>
      <ion-button type="reset" *ngIf="emailId.valid || passwords.valid" expand="block">Reset</ion-button>
    </form>
  </div>

</ion-content>