<ion-header *ngIf="Userservice.loggedInUser">
  <ion-toolbar color="primary">
    <ion-title>{{type == 'add'? 'Add' : 'Edit'}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light" menu="rightMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="Userservice.loggedInUser">
  <div *ngIf="type == 'add'">
    <ion-item *ngIf="Userservice.loggedInUser">
      <ion-label color="success" position="floating">Tag/type</ion-label>
      <ion-select placeholder="Please select a Tag first" okText="Okay" cancelText="Dismiss" name="hotelTag"
        (ionChange)="setFilteredItems()" #hotelTag="ngModel" [(ngModel)]="Type">
        <ion-select-option value="hotels">Hotels</ion-select-option>
        <ion-select-option value="villas">Villas</ion-select-option>
        <ion-select-option value="Appartment">Appartment</ion-select-option>
        <ion-select-option value="Buses">Buses</ion-select-option>
      </ion-select>
    </ion-item>
    <br><br>
    <ion-card *ngIf="Userservice.loggedInUser" [hidden]="productType == 'Buses'">
      <ion-card-content>
        <form #f="ngForm">
          <ion-item>
            <ion-label color="success" position="floating">Name</ion-label>
            <ion-input autocomplete="name" name="hotelName" #hotelName="ngModel" [(ngModel)]="hotelDetails.hotelName"
              required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!hotelName.valid && hotelName.touched">Name is required</ion-text><br>
          <ion-item>
            <ion-label color="success" position="floating">Image</ion-label>
            <ion-input autocomplete="image" name="hotelImage" #hotelImage="ngModel"
              [(ngModel)]="hotelDetails.hotelImage" placeholder="Paste image url for example https://pixabay.com/ "
              required></ion-input>
            <img src="{{hotelDetails.hotelImage}}">
          </ion-item>
          <ion-text color="danger" *ngIf="!hotelImage.valid && hotelImage.touched">One image is required</ion-text>
          <br>
          <ion-item>
            <ion-label position="floating" color="success">Country</ion-label>
            <ion-select placeholder="Please select a country" okText="Okay" cancelText="Dismiss" name="hotelCountry"
              #hotelCountry="ngModel" [(ngModel)]="hotelDetails.hotelCountry">
              <ion-select-option autocomplete="country" *ngFor="let country of countries">
                {{country.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-text color="danger" *ngIf="!hotelCountry.value && hotelCountry.touched">Please select a country
          </ion-text>
          <br>
          <ion-item>
            <ion-label color="success" position="floating">City</ion-label>
            <ion-input autocomplete="city" name="hotelCity" #hotelCity="ngModel" [(ngModel)]="hotelDetails.hotelCity"
              required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!hotelCity.valid && hotelCity.touched">City is required</ion-text><br>
          <ion-item>
            <ion-label color="success" position="floating">Address</ion-label>
            <ion-input autocomplete="address" name="hotelAddress" #hotelAddress="ngModel"
              [(ngModel)]="hotelDetails.hotelAddress" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!hotelAddress.valid && hotelAddress.touched">Address is required</ion-text>
          <br>
          <ion-item>
            <ion-label color="success" position="floating">Facility</ion-label>
            <ion-input autocomplete="facility" name="hotelFacility" #hotelFacility="ngModel"
              [(ngModel)]="hotelDetails.hotelFacility" placeholder="For example : Free parking" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!hotelFacility.valid && hotelFacility.touched">Facility is required
          </ion-text>
          <br>
          <ion-item>
            <ion-label color="success" position="floating">Price</ion-label>
            <ion-input autocomplete="price" type="number" name="hotelPrice" #hotelPrice="ngModel"
              [(ngModel)]="hotelDetails.hotelPrice" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!hotelPrice.valid && hotelPrice.touched">Price is required</ion-text><br>
          <ion-button (click)="hotelSubmit(f)">Submit</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="productType == 'Buses'">
      <ion-card-content>
        <form #Busform="ngForm">
          <ion-item>
            <ion-label color="success" position="floating">Bus name</ion-label>
            <ion-input autocomplete="name" name="busName" #busName="ngModel" [(ngModel)]="BusDetails.busName" required>
            </ion-input>
          </ion-item>
          <ion-text style="padding-left: 10px;" color="danger" *ngIf="busName.touched && !busName.valid">Bus name is
            requied</ion-text>

          <ion-item>
            <ion-label color="success" position="floating">Bus image</ion-label>
            <ion-input autocomplete="image" name="busImage" #busImage="ngModel" [(ngModel)]="BusDetails.busImage"
              placeholder="On correct image url your will see a image preview" required></ion-input>
            <img src="{{BusDetails.busImage}}">
          </ion-item>
          <ion-text style="padding-left: 10px;" color="danger" *ngIf="busImage.touched && !busImage.valid">Bus image is
            requied</ion-text>

          <ion-item>
            <ion-label color="success" position="floating">Bus seat</ion-label>
            <ion-input autocomplete="seat" name="busSeat" #busSeat="ngModel" [(ngModel)]="BusDetails.busSeat" required>
            </ion-input>
          </ion-item>
          <ion-text style="padding-left: 10px;" color="danger" *ngIf="busSeat.touched && !busSeat.valid">Bus seat is
            requied</ion-text>

          <ion-item>
            <ion-label color="success" position="floating">Bus Starting Point</ion-label>
            <ion-input autocomplete="off" name="busStartingPoint" #busStartingPoint="ngModel"
              [(ngModel)]="BusDetails.busStartingPoint" required></ion-input>
          </ion-item>
          <ion-text style="padding-left: 10px;" color="danger"
            *ngIf="busStartingPoint.touched && !busStartingPoint.valid">Bus starting point is requied</ion-text>

          <ion-item>
            <ion-label color="success" position="floating">Bus Ending Point</ion-label>
            <ion-input autocomplete="off" name="busEndingPoint" #busEndingPoint="ngModel"
              [(ngModel)]="BusDetails.busEndingPoint" required></ion-input>
          </ion-item>
          <ion-text style="padding-left: 10px;" color="danger" *ngIf="busEndingPoint.touched && !busEndingPoint.valid">
            Bus ending point is requied</ion-text>

          <ion-item>
            <ion-label color="success" position="floating">Bus route</ion-label>
            <ion-input autocomplete="off" name="busRoute" #busRoute="ngModel" [(ngModel)]="BusDetails.busRoute" required
              placeholder="Write 'Cover all route' if you want to cover all the route from starting to ending destination">
            </ion-input>
          </ion-item>
          <ion-text style="padding-left: 10px;" color="danger" *ngIf="busRoute.touched && !busRoute.valid">Bus route is
            requied</ion-text>

          <ion-item>
            <ion-label color="success" position="floating">Fair</ion-label>
            <ion-input autocomplete="off" name="fair" #fair="ngModel" [(ngModel)]="BusDetails.fair" required>
            </ion-input>
          </ion-item>
          <ion-text style="padding-left: 10px;" color="danger" *ngIf="fair.touched && !fair.valid">Bus min
            fair is requied</ion-text>

          <ion-item>
            <ion-label color="success" position="floating">Bus timing</ion-label>
            <ion-input autocomplete="off" name="busTiming" #busTiming="ngModel" [(ngModel)]="BusDetails.busTiming"
              placeholder="For example = 7 am to 7 pm" required></ion-input>
          </ion-item>
          <ion-text style="padding-left: 10px;" color="danger" *ngIf="busTiming.touched && !busTiming.valid">Bus timing
            is requied</ion-text>

          <ion-item>
            <ion-label color="success" position="floating">Bus facilities</ion-label>
            <ion-input autocomplete="image" name="busFacilities" #busFacilities="ngModel"
              [(ngModel)]="BusDetails.busFacilities" placeholder="For example = Free hand sanitizer" required>
            </ion-input>
          </ion-item>
          <ion-text style="padding-left: 10px;" color="danger" *ngIf="busFacilities.touched && !busFacilities.valid">Bus
            facilities is requied</ion-text>

          <ion-item>
            <ion-label color="success" position="floating">Bus type</ion-label>
            <ion-input autocomplete="image" name="busType" #busType="ngModel" [(ngModel)]="BusDetails.busType"
              placeholder="For example : for holiday or regular"></ion-input>
          </ion-item>

          <ion-button (click)="busForm(Busform)">Submit</ion-button>
          <ion-button type="reset">Reset</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

  </div>
  <div *ngIf="type == 'edit'">
    <ion-button fill="clear" (click)="Tagselected('hotels')">Hotels</ion-button>
    <ion-button fill="clear" (click)="Tagselected('villas')">Villas</ion-button>
    <ion-button fill="clear" (click)="Tagselected('Appartment')">Appartment</ion-button>
    <!-- <ion-button fill="clear" (click)="Tagselected('buses')">Buses</ion-button> --><br><br>
    <ion-text color="danger" *ngIf="!tagSelected" style="font-size: xx-large;">Select a tag by clicking on the button
    </ion-text>
    <ion-grid *ngFor="let product of userEditProducts">
      <ion-text *ngIf="!product"> Server is busy please reload the site</ion-text>
      <ion-card *ngIf="product.tag == tagSelected"><br>
        <ion-row style="padding-left: 6px;">
          <ion-col size-xs="4" size-md="3" size-xl="4" style="cursor: pointer; width: 100%;">
            <img src={{product.images}}>
          </ion-col>
          <ion-col size-xs="6" size-md="9" size-xl="8" style="cursor: pointer;">
            <b>
              {{product.name}}
            </b>
            <ion-icon name="create" (click)="moveToEditPage(product.id)"></ion-icon>
            <br><br>
            <ion-text color="success">
              &#8377; {{product.price}}
            </ion-text>
            <br><br>
            <ion-text color="medium">
              {{product.description}}
            </ion-text>
          </ion-col>
        </ion-row><br><br>
      </ion-card>
    </ion-grid>

  </div>
</ion-content>