<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="editProduct" [formGroup]="editProduct">
    <ion-item>
      <ion-label position="stacked">name</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Images</ion-label>
      <ion-input type="text" formControlName="images" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">City</ion-label>
      <ion-input type="text" formControlName="city" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="success">Country</ion-label>
      <ion-select placeholder="Please select a country" okText="Okay" cancelText="Dismiss" formControlName="country">
        <ion-select-option *ngFor="let country of countries">
          {{country.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Address</ion-label>
      <ion-input type="text" formControlName="address" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Facilities</ion-label>
      <ion-input type="text" formControlName="facility" required></ion-input>
    </ion-item>
    <ion-button (click)="submit(editProduct)"  [disabled]="!editProduct.valid">Submit</ion-button>
  </form>
</ion-content>